!.config/coc-settings.json
!.config/coc/ultisnips
!.config/htop
!.config/htop/htoprc
!.config/init.vim
!.config/nvim
!.config/nvim/UltiSnips
!.config/nvim/autoload
!.config/nvim/spell
!.config/starship.toml
!.config/starship.toml
!.config/tmuxinator
!.hushlogin
!.jupyter/jupyter_notebook_config.json
!.vim
!.vimrc
!.zshrc
**/hooks/*
*.vim
*.vi
*.zip
.airflow/*
.antigen/.*
.antigen/bundles/robbyrussell/oh-my-zsh/
.antigen/bundles/zsh-users/zsh-autosuggestions/
.antigen/bundles/zsh-users/zsh-completions/
.antigen/bundles/zsh-users/zsh-syntax-highlighting/
.antigen/debug.log
.antigen/init.zsh
.antigen/init.zsh.zwc
.authinfo
.aws
.azure
.bash_history
.bash_logout
.bin/*
.blah
.cache/*
.calc_history
.cargo/*
.columns
.conda/environments.txt
.condarc
.config/Code
.config/airflow/*
.config/calibre/*
.config/chezmoi/*
.config/coc
.config/coc/extensions/*
.config/configstore/update-notifier-npm.json
.config/configstore/update-notifier-yo.json
.config/epr
.config/epy
.config/gh
.config/git
.config/gitui
.config/hub
.config/insight-nodejs
.config/nu
.config/obsidian
.config/omf
.config/pulse
.config/racket
.config/ranger
.config/spotify-tui
.config/wslu
.crontest
.ctags
.dbus/*
.debug/*
.docker/*
.dotf
.dotfiles/*
.download
.dyalog/*
.emacs.d/
.envs/*
.fonts/*
.fzf.bash
.fzf.zsh
.fzf/
.gem/*
.ghc/ghci_history
.gitkraken/*
.gnupg/*
.hex/*
.info
.inputrc
.ipynb_checkpoints/*
.ipython/profile_default/db/dhist
.ipython/profile_default/history.sqlite
.jupyter/*
.jupyter/jupyter_notebook_config.json
.landscape/sysinfo.log
.lesshst
.local/*
.m2/*
.magefile/*
.metaflow/*
.mix/*
.mume/*
.node-gyp/*
.npm/*
.pki/*
.poetry/*
.profile
.psql_history
.pylint.d/*
.python_history
.rbenv
.repoutil_cron.log
.repoutilrc
.rust_src
.rustup/*
.rusty-tags/*
.sentinel
.servername
.slime/*
.slime_paste
.smbcredentials
.sqlite_history
.ssh/*
.stack/*
.sudo_as_admin_successful
.temp/*
.terminfo/*
.test*
.texlive2019/*
.vim/.netrwhist
.vim/backups/*
.vim/plugins/*
.vim/sessions/*
.vim/swapfiles
.viminfo
.vimstart
.wasmtime/*
.wget-hsts
.wsl_interop
.zcompdump
.zsh_history
GAN_revised_docker/*
Syncthing
backups/*
cache/*
cargo/*
code/*
dbus/*
debug/*
envs/*
extensions/*
figures/*
fonts/*
gem/*
gitkraken/*
gnupg/*
go/*
hex/*
hooks/*
m2//*
magefile/*
metaflow/*
mix/*
nas-refile
node-gyp/*
notes
pkg/*
plugins/*
poetry/*
priti-dataset/*
pylint/*
recipes
runner_logs/*
rustup/*
scratch
sessions/*
slime/*
stack/*
texlive/*
wasmtime/*
