snippet exercise
`!v strftime("%Y-%m-%d")`. ${1:type}
| ${2:exercises}
endsnippet

snippet exercisem
`!v strftime("%Y %B")`
| Cardio - ${1:cardio}
| Upper body - ${2:upper}
| Lower body - ${3:lower}
endsnippet
